/* You can add global styles to this file, and also import other style files */
body , html {
    font-family: 'Lato', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Cairo', sans-serif;
  }

  .text-b{
    color: #D6C197;
  }